<html>
<head>
	<script type='text/javascript' src='static/js/jquery-2.1.1.min.js'></script>
	<script type='text/javascript' src='static/js/knockout-3.1.0.js'></script>
	<script src="static/js/bootstrap.min.js"></script>
	<link href="static/css/bootstrap.css" rel="stylesheet">
	<script src="static/js/main.js"></script>
	<meta charset="utf-8">
</head>
<body>
<!--<div>
	<h3>Tasks</h3>

<form data-bind="submit: addTask">
    Add task: <input data-bind="value: newTaskText" placeholder="What needs to be done?" />
    <button type="submit">Add</button>
</form>

<ul data-bind="foreach: tasks, visible: tasks().length > 0">
    <li>
        <input type="checkbox" data-bind="checked: isDone" />
        <input data-bind="value: title, disable: isDone" />
        <a href="#" data-bind="click: $parent.removeTask">Delete</a>
    </li>
</ul>

You have <b data-bind="text: incompleteTasks().length">&nbsp;</b> incomplete task(s)
<span data-bind="visible: incompleteTasks().length == 0"> - it's beer time!</span>
<form action="/tasks" method="post">
    <textarea name="tasks" data-bind="value: ko.toJSON(tasks)"></textarea>
    <button type="submit">Save</button>
</form>
<form>
    <textarea data-bind="text: serverAnswer()"></textarea>
</form>
<button data-bind="click: save">Save</button>
</div>-->

<div class="page-header text-center">
	<h1>Hello!</h1>
</div>
<div class="container">
<div class='row'>
	<ul class='nav nav-pills col-md-11' data-bind='foreach: modes' >
		<li data-bind='css: {active: $root.viewMode() == $data}'><a href='#'  data-bind='text: $data, value: $data, click: $root.viewMode'></a></li>
	</ul>
	<div class='col-sm-2 col-md-10'>
	</div>
</div>

<div class='row'>
	<div data-bind='visible: viewMode() == modes[1]' class='col-sm-8 col-md-10'>
		<h3>Status <span data-bind='text: info'></span> Count <span data-bind='text: queueCount'></span></h3>
		<div data-bind='visible: dbqueue().length > 0'>
			<h3>Queue</h3>
			<ul data-bind='foreach: dbqueue'>
				<li>
					<a href='#' data-bind='text: text, click: $root.clickId'></a>
				</li>
			</ul>
		</div>
	</div>
	<div data-bind='visible: viewMode() == modes[0]' class='col-sm-12 col-md-10'>
		<h3>Add item into queue</h3>
		<!--<textarea data-bind="text: ko.toJSON($root, null, 2)"> </textarea>-->
		<div class='row'>
			<div class='col-xs-4'>
				<div class='input-group'>
					<span class='input-group-addon'><span class='glyphicon glyphicon-user'></span></span>
					<input data-bind='value: newName' type='text' class='form-control' placeholder='Customer'>
				</div>
			</div>
			<div class='col-xs-4'>
				<div class='input-group'>
					<span class='input-group-addon'><span class='caret'></span></span>
					<button type='button' class='btn btn-default dropdown-toggle form-control' placeholder='Priority' data-toggle='dropdown' data-bind='text: newPriority()["text"]'></button>
					<ul class='dropdown-menu' data-bind='foreach: priorityType'>
						<li><a href='#' data-bind='text: text, value: id, click: $root.newPriority'></a></li>
					</ul>
				</div>
			</div>
			<div class='col-xs-4'>
				<div class="input-group">
					<input type='text' class='form-control' placeholder='Info' data-bind='value: newInfo' >
					<span class='input-group-addon'>Info</span>
				</div>
			</div>
		</div>
		<hr>
		<div class='row'>
			<div class='col-xs-4'>
				<button data-bind="click: addData"  type='button' class='btn btn-default'>Add Data</button>
			</div>
		</div>
	</div>
	<div data-bind='visible: viewMode() == modes[2]' class='col-sm-8 col-md-10'>
		<br>
		<div data-bind='visible: currentItem() == null'>
			<h1>Queue clear!</h1>
		</div>
		<div data-bind='if: currentItem'>
			<div class="panel panel-default" >
				<div class='panel-body'>
					<div class='col-md-2'>
						<span>Name</span>
					</div>
					<div class='col-md-8'>
						<span data-bind='text: currentItem().name()'></span>
					</div>
					<br>
					<div class='col-md-2'>
						<span>Date</span>
					</div>
					<div class='col-md-8'>
						<span data-bind='text: currentItem().date()'></span>
					</div>
					<br>
					<div class='col-md-2'>
						<span>Priority</span>
					</div>
					<div class='col-md-8'>
						<span data-bind='text: currentItem().prioriy()["text"]'></span>
					</div>
					<br>
					<div class='col-md-2'>
						<span>State</span>
					</div>
					<div class='col-md-8'>
						<span data-bind='text: currentItem().state()'></span>
					</div>
					<hr>
					<div class='col-md-2'>
						<button data-bind="click: takeItem"  type='button' class='btn btn-default'>Take Item</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>
